<h1>The Exploratory Data Analysis (EDA)process consists of several steps:</h1>
<ul>
<li> <h2>Importing a dataset</h2></li>
<li> <h2>Understanding the big picture</h2></li>
    <ul>
    <li> <h3>Variables: name of the variables</h3></li>
    <li> <h3>Type:  the type or format of the variable. This can be categorical, numeric, Boolean, and so on</h3></li>
    <li> <h3>Context: useful information to understand the semantic space of the variable.</h3></li>
    <li> <h3>Expectation: how relevant is this variable with respect to our task?</h3></li>
    <li> <h3>Comments</h3></li>
    </ul>
<li> <h2>Preparation</h2></li>
    <ul>
    <li> <h3>are there any useless or redundant variables?</h3></li>
    <li> <h3>are there any duplicate columns?</h3></li>
    <li> <h3>does the nomenclature make sense?</h3></li>
    <li> <h3>are there any new variables we want to create?</h3></li>
    </ul>
<li> <h2>Understanding of variables</h2></li>
    <ul>
    <li> <h3>Categorical variables</h3></li>
    <li> <h3>Numeric variables</h3></li>
    <li> <h3>distribution kurtosis and asymmetry</h3></li>
    <li> <h3>Study of relationships between variables</h3></li>
    </ul>
<li> <h2>Study of the relationships between variables</h2></li>
<li> <h2>Brainstorming</h2></li>
    <ul>
    <li> <h3>create a report for the stakeholders</h3></li>
    <li> <h3>do modeling</h3></li>
    <li> <h3>continue with the exploration to further clarify business questions</h3></li>
    </ul>
</ul>

# Importing libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder

import matplotlib.pyplot as plt

print('Libraries loaded.')

Libraries loaded.

# Loading dataset

In [2]:
df_iris = pd.read_csv('Data/iris.txt', sep= ',', header= None) 

df_iris.head()

     0    1    2    3                4
0  5.9  3.0  4.2  1.5  Iris-versicolor
1  6.9  3.1  4.9  1.5  Iris-versicolor
2  6.6  2.9  4.6  1.3  Iris-versicolor
3  4.6  3.2  1.4  0.2      Iris-setosa
4  6.0  2.2  4.0  1.0  Iris-versicolor

# Data understanding

## Checking data types

In [3]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## Checking data distribution

In [4]:
df_iris.describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

# Preparing dataset

## Renaming columns

In [5]:
df_iris.columns= ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'iris_name']

df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width        iris_name
0           5.9          3.0           4.2          1.5  Iris-versicolor
1           6.9          3.1           4.9          1.5  Iris-versicolor
2           6.6          2.9           4.6          1.3  Iris-versicolor
3           4.6          3.2           1.4          0.2      Iris-setosa
4           6.0          2.2           4.0          1.0  Iris-versicolor

## Checking duplication

In [14]:
df_iris.duplicated().sum()

3

### Finding duplicated rows

In [7]:
df_iris.loc[df_iris.duplicated()]

     sepal_length  sepal_width  petal_length  petal_width       iris_name
67            4.9          3.1           1.5          0.1     Iris-setosa
120           5.8          2.7           5.1          1.9  Iris-virginica
134           4.9          3.1           1.5          0.1     Iris-setosa

## Cheching null values

In [8]:
df_iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
iris_name       0
dtype: int64

## Checking nan values

In [9]:
df_iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
iris_name       0
dtype: int64

## Encoding categorical columns

In [10]:
encoder = LabelEncoder()

classes = encoder.fit_transform(df_iris['iris_name'])

df_iris['class'] = classes

df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,iris_name,class
0,5.9,3.0,4.2,1.5,Iris-versicolor,1
1,6.9,3.1,4.9,1.5,Iris-versicolor,1
2,6.6,2.9,4.6,1.3,Iris-versicolor,1
3,4.6,3.2,1.4,0.2,Iris-setosa,0
4,6.0,2.2,4.0,1.0,Iris-versicolor,1

### Dropping duplicated columns

In [11]:
dataset = df_iris.drop('iris_name', axis= 1)

dataset.head()

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.9          3.0           4.2          1.5      1
1           6.9          3.1           4.9          1.5      1
2           6.6          2.9           4.6          1.3      1
3           4.6          3.2           1.4          0.2      0
4           6.0          2.2           4.0          1.0      1

In [15]:
dataset.corr()

              sepal_length  sepal_width  petal_length  petal_width     class
sepal_length      1.000000    -0.109369      0.871754     0.817954  0.782561
sepal_width      -0.109369     1.000000     -0.420516    -0.356544 -0.419446
petal_length      0.871754    -0.420516      1.000000     0.962757  0.949043
petal_width       0.817954    -0.356544      0.962757     1.000000  0.956464
class             0.782561    -0.419446      0.949043     0.956464  1.000000

In [16]:
dataset.cov()

              sepal_length  sepal_width  petal_length  petal_width     class
sepal_length      0.685694    -0.039268      1.273682     0.516904  0.530872
sepal_width      -0.039268     0.188004     -0.321713    -0.117981 -0.148993
petal_length      1.273682    -0.321713      3.113179     1.296387  1.371812
petal_width       0.516904    -0.117981      1.296387     0.582414  0.597987
class             0.530872    -0.148993      1.371812     0.597987  0.671141